* {
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: grey;
}

#page {

    display: flex;
    justify-content: center;
}

#calculator {
    background-color: black;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    min-width: 380px;

    flex-basis: 500px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#calculator button {
    border: none;
    border-radius: 5px;
}

#screen {
    background-color: rgb(209, 194, 162);
    padding: 7px;
    
    display: flex;
    justify-content: flex-end;
}

#screenText {
    text-align: right;
    padding-left: 7px;

    flex-shrink: 1;
    overflow: hidden;
}

#controls {
    display: flex;
    /* flex LR */
}

#controls button {
    min-width: 40px;
}

#leftControls {
    min-width: 145px;

    flex-grow: 3;

    display: flex;
    flex-direction: column;
}

#rightControls {
    gap: 7px;

    flex-grow: 1;
    justify-content: flex-end;

    display: flex;
    flex-direction: column;
}

#specialOperators {
    gap: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: black;

    display: flex;;
}

#digits {
    gap: 7px;

    display: flex;
    flex-wrap: wrap-reverse;
}

#zeroAndDecimal {
    gap: 7px;
    padding-top: 7px;

    display: flex;
}

#zero {
    flex-basis: calc(66.66% - 7px);
}

#decimal {
    flex-basis: calc(33.33% - 7px);
}

.digit {
    background-color: rgb(88, 84, 84);
    color: white;

    flex-basis: calc(33.33% - 7px);
}

.rightOperator {
    background-color: rgb(247, 177, 47);
    color: white;
}
