* {
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: grey;
    padding: 10px;
}

.keypadButton {
    background-color: orange;
    flex-basis: calc(33.33% - 10px); /* Set the max width for each item, considering spacing */
}

.operatorButton {
    flex-basis: calc(100% - 10px); /* Set the max width for each item, considering spacing */
}